params {
	// where is figaro installed --> have in path
	figaro = "/home/schudoma/gaga2_test/gaga2/figaro/figaro.py"
	// where are the gaga2 scripts --> entry points
	scripts = "/home/schudoma/gaga2_test/gaga2/scripts"
	// where are the conda environments
	envs = "/g/scb2/zeller/schudoma/software/conda"
    ///home/schudoma/gaga2_test/gaga2/etc"
}
