params {
	publish_mode = "symlink"

	min_overlap = 20
	left_primer = 0
	right_primer = 0

	/*
		bbduk qc parameters
		s. https://jgi.doe.gov/data-and-tools/bbtools/bb-tools-user-guide/bbduk-guide/
		qtrim=rl trimq=3 : gentle quality trimming (only discard bases < phred 3; phred 2 = junk marker) on either side (rl) of the read
		maq=25 : discard reads below average quality of pred 25
		minlen=45 : discard reads < 45bp
		ref=?? ktrim=r k=23 mink=11 hdist=1 tpe tbo : right-side k-mer based adapter clipping with 1 mismatch allowed, try overlap-detection (tbo), and trim pairs to same length (tpe) upon adapter detection
		ftm=5 : get rid off (n*5)+1st base (last sequencing cycle illumina garbage)
		entropy=0.5 entropywindow=50 entropyk=5 : discard low complexity sequences
	*/

	qc_params_primers = "qtrim=rl trimq=3 ktrim=l k=14 mink=1 hdist=1 cu=t"
	qc_params_adapters = "qtrim=rl trimq=3 ktrim=l k=23 mink=1 hdist=1 tpe tbo cu=t"
	qc_minlen = 100

	mapseq_bin = "mapseq"
	mapseq_db_path = projectDir
	mapseq_db_name = ""
}

/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 30
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}

process {
	cache = 'lenient'
	withName: figaro {
		container = "oras://ghcr.io/zellerlab/gaga2:latest"
		// conda = "/g/scb/zeller/schudoma/software/conda/figaro"
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		memory = '16.GB'
		time = '4d'
		maxRetries = 3
		cpus = 8
	}
	withLabel: dada2 {
		container = "oras://ghcr.io/zellerlab/gaga2:latest"
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		memory = '16.GB'
		time = '4d'
		maxRetries = 3
		cpus = 8
	}
	withLabel: bbduk {
		container = "oras://ghcr.io/zellerlab/gaga2:latest"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 4
        memory = {8.GB * task.attempt}
        time = '2h'
        maxRetries = 3
    }
	withName: fastqc {
		container = "oras://ghcr.io/zellerlab/gaga2:latest"
		executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 2
		memory = {4.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
	withName: mapseq_otutable {
		container = "oras://ghcr.io/zellerlab/gaga2:latest"
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {2.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: collate_mapseq_tables {
		container = "oras://ghcr.io/zellerlab/gaga2:latest"
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = {2.GB * task.attempt}
		time = '24h'
		maxRetries = 3
	}
	withName: mapseq {
		container = "oras://ghcr.io/zellerlab/gaga2:latest"
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {8.GB * task.attempt}
		time = '7d'
		maxRetries = 3
	}
}

singularity {
	enabled = true
	autoMounts = true
}
