params {
	publish_mode = "symlink"

	min_overlap = 20
	left_primer = 0
	right_primer = 0
}

/* section below needs to be adjusted to local cluster */
executor {
	$slurm {
		queueSize = 30
	}
	$local {
		cpus = 1
		memory = '4 GB'
	}
}

process {
	cache = 'lenient'
	withName: ltrim {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		memory = '8.GB' 
		time = '4d'
		maxRetries = 3
	}
	withName: figaro {
		container = "oras://ghcr.io/zellerlab/gaga2:latest"
		// conda = "/g/scb/zeller/schudoma/software/conda/figaro"
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		memory = '16.GB' 
		time = '4d'
		maxRetries = 3
	}
	withName: dada2_preprocess {
		container = "oras://ghcr.io/zellerlab/gaga2:latest"
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		memory = '16.GB' 
		time = '4d'
		maxRetries = 3
		cpus = 8
	}
	withName: dada2_analysis {
		container = "oras://ghcr.io/zellerlab/gaga2:latest"
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		memory = '16.GB' 
		time = '4d'
		maxRetries = 3
		cpus = 8
	}
}

singularity {
	enabled = true
	autoMounts = true
}
